@font-face {
    font-family: Dreams;
    src: url(fonts/DREAMER.ttf);
}

* {
    font-family: Dreams;
    color: white;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    text-align: center;
}

div {
    margin-top: 35vh;
}

#Main img {
    margin-top: 20px;
}

h2 {
    color: rgba(0, 0, 0, 0.014);
}